{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "htmlWhitespaceSensitivity": "css",
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "bracketSameLine": true,
  "overrides": [
    {
      "files": "*.component.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}
